@charset "UTF-8";


#movie-details-header {
    width: 100%;
    
    background-position: left calc((50vw - 170px) - 340px) top;
    background-repeat: no-repeat;    
    background-size: cover;
}

#movie-background-color-div {
    width: 100%;    
    display: flex;
    flex-wrap: nowrap;
    padding: 3% 10%;
}

/* 포스터부분 css */
.movie-details-poster-container {
    width: 300px;
    min-width: 300px;
}

.movie-details-poster-container img {
    width: 100%;
    min-width: 100%;
}

.movie-provider-container {
    width: 300px;
    min-width: 300px;
    background-color: #001845;
    color: #fff;
    font-weight: 600;
}

.each-provider-container {
    width: 100%;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}





/* 영화 설명부분 css */
.movie-details-description-container {
    width: calc(100% - 300px);
    display: flex;
    align-items: center;
}

.movie-description-inner-container {
    padding-left: 56px;
}

.movie-title-etc {
    margin-bottom: 36px;
}

.movie-title {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 1.5em;
    font-weight: 700;
    font-style: italic;
}

.movie-etc-info {
    font-size: 0.9em;
}

.movie-tagline {
    font-size: 1.2em;
    font-style: italic;
    margin-bottom: 16px;
    color: #adb5bd;
}

.movie-description {
    margin-bottom: 24px; 
}


/* 영화설명 및 감독리스트 */

.movie-director-name-container {
    display: flex;
    justify-content: start;    
}

.movie-director-name {
    width: 33%;
}

	/* 영화 설명부분 중 좋아요, 저장, 트레일러 등 부분 */
 .movie-like-trailer-container {
    display: flex;
    flex-wrap: nowrap;
 }
 
 .movie-like-trailer-container i {
    font-size: 1.3em;
    display: inline-block;
    
 }
 
 .movie-like-item {
    margin-right: 16px;
    display: flex;
    position: relative;
    width: 46px;
    height: 46px;
    margin-right: 24px;
    margin-bottom: 36px;
    border-radius: 50%;
    background-color: #013a63;
}

.movie-like-item i {    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    
}

.movie-trailer-item {
    margin-right: 24px;
    margin-bottom: 36px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 46px;
    margin-left: 64px;
    
    
}

.movie-trailer-item:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 1s easy-out;
}


.movie-trailer-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    text-decoration: none;
}

.movie-trailer {
    height: 46px;
    display: flex;
    align-items: center;    
}


.movie-trailer-item span {
    display: inline-block;
    font-size: 1em;
    font-weight: 700;
}

.movie-trailer-item i {
    /*
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    */
    padding-right: 12px;    
    font-size: 1em;
    transform: translateY(-1px);
}

	/* 트레일러 모달 관련 */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.modal-dialog {
    width: 100%;
    position: relative;
    
}

.modal-header {
    background-color: rgb(31, 32, 41);
    color: rgb(196, 195, 202);
    width: 100%;    
    padding: 16px 0;
    font-weight: 700;
}


.div-btn-close {
    margin-right: 0 8px 0 0;
    right: 24px;
    top: 0;
    padding: 0;
}

.btn-header-close {
    background-color: rgb(31, 32, 41);
    margin: 0;
    padding-right: 32px;
    font-size: 1.2em;
    border: none;
    color: #dee2e6;
    
}


.btn-header-close:active {
  border-style: none;
  
}


.modal-body {
    
    background-color: rgb(31, 32, 41);
    color: rgb(196, 195, 202);
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; 
}

.iframe-movie-trailer-video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;    
}






