@charset "UTF-8";

.custom-1k0sgc4 {
    position: relative;
    margin-top: 20px;
    padding: 50px 130px 30px;
    border-top: 1px solid rgb(196, 195, 202);
}

.custom-1534gm5 {
    color: #84868d;
    font-size: 15px;
    font-weight: 400;
    list-style-type: none;
    display: flex;
    padding-right: 10px;
}

.custom-xe64yk{
	display: flex;
	padding-bottom: 20px;
	
}

.custom-1vwop6a{
	list-style-type: none;
}

.custom-hb2ylq{
	list-style-type: none;
}
#map{
	margin-right: 100px;
	border-radius: 5px;

}