<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
<title>TEAM FOURMEN LAYOUT</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
</head>
<body>

<h1>TMDB API TEST</h1>

<table class = "table">
    <thead >
    <tr>
        <th class = "d-none">id</th>
        <th>TITLE</th>
        <th>RELEASE_DATE</th>
        <th>RATINGS</th>
    </tr>
    </thead>
    <tbody th:each="data : ${movieDataList}">
        <tr>
            <td class = "d-none" th:value= "${data.id}"></td>
            <td th:text = "${data.original_title}"></td>
            <td th:text = "${data.release_date}"></td>
            <td th:text = "${data.popularity}"></td>
        </tr>
    </tbody>
</table>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
</script>

</body>
</html>