<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Fourmen</title>
	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
	 integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/5b5cfeea7f.js" crossorigin="anonymous"></script>
    <link th:href="@{/css/theme.css}" rel="stylesheet">
    <link th:href="@{/css/movie/movie-list-search.css}" rel="stylesheet">
    <link th:href="@{/css/movie/movie-list-main.css}" rel="stylesheet">
    <link th:href="@{/css/accordion/accordion.css}" rel="stylesheet">
	<link th:href="@{/css/navbar.css}" rel="stylesheet">
</head>
<body>
    <nav th:replace="~{layout/ExampleLayout :: navigation-bar}"></nav>
    <h1>영화 리스트</h1>
    
    <div class="content-container">
        <!-- search-container는 필터와 검색을 위한 div -->
        <aside class="search-container">
            <!-- 필터 form -->
            <form action="../movie/filter">
                <div class="custom-card accordion-container">
                    <div class="custom-card-header accordion-header">
                        <span class="filter-title">필터</span>
                        <i class="fa-solid fa-caret-down accordion-symbol-down"></i>
                        <i class="fa-solid fa-caret-up accordion-symbol-up"></i>
                    </div>
                    <div class="custom-card-body accordion-content">
                        <!-- 개봉일자 필터 -->
                        <div class="card-body-container">
                            <div class="card-each-item-container">
                                <div class="card-each-item-title">정렬</div>
                                <div class="div-movie-sort">                                    
                                    <select name="sortBy">
                                        <option value="popularity.desc" selected="selected">인기순</option>
                                        <option value="popularity.asc">인기순(오름차순)</option>
                                        <option value="primary_release_date.desc">최신</option>
                                        <option value="primary_release_date.asc">최신(오름차순)</option>                                                                                
                                    </select>
                                </div>                        
                            </div>
                            <div class="card-each-item-container">
                                <div class="card-each-item-title">플랫폼</div>
                                <ul class="provider-list">
                                    <li class="provider-list-item">
                                        <div class="movie-provider-speech-bubble">Netflix</div>
                                        <input type="checkbox" value="8" name="withWatchProviders" id="provider-8" class="checkbox-provider d-none">
                                        <label for="provider-8" class="checkbox-provider-label">
                                            <img src="https://media.themoviedb.org/t/p/original/pbpMk2JmcoNnQwx5JGpXngfoWtp.jpg" class="movie-provider-img" alt="Netflix logo">
                                            <div class="div-provider-selected"><i class="fa-solid fa-check"></i></div>
                                        </label>
                                    </li>
                                    <li class="provider-list-item">
                                        <div class="movie-provider-speech-bubble">Disney Plus</div>
                                        <input type="checkbox" value="337" name="withWatchProviders" id="provider-337" class="checkbox-provider d-none">
                                        <label for="provider-337" class="checkbox-provider-label">
                                            <img src="https://media.themoviedb.org/t/p/original/7YPdUs60C9qQQQfOFCgxpnF07D9.jpg" class="movie-provider-img" alt="Disney Plus logo">
                                            <div class="div-provider-selected"><i class="fa-solid fa-check"></i></div>
                                        </label>
                                    </li>
                                    <li class="provider-list-item">
                                        <div class="movie-provider-speech-bubble">Google Play Movies</div>
                                        <input type="checkbox" value="3" name="withWatchProviders" id="provider-3" class="checkbox-provider d-none">
                                        <label for="provider-3" class="checkbox-provider-label">
                                            <img src="https://media.themoviedb.org/t/p/original/8z7rC8uIDaTM91X0ZfkRf04ydj2.jpg" class="movie-provider-img" alt="Google Play Movies logo">
                                            <div class="div-provider-selected"><i class="fa-solid fa-check"></i></div>
                                        </label>
                                    </li>
                                    <li class="provider-list-item">
                                        <div class="movie-provider-speech-bubble">wavve</div>
                                        <input type="checkbox" value="356" name="withWatchProviders" id="provider-356" class="checkbox-provider d-none">
                                        <label for="provider-356" class="checkbox-provider-label">
                                            <img src="https://media.themoviedb.org/t/p/original/hPcjSaWfMwEqXaCMu7Fkb529Dkc.jpg" class="movie-provider-img" alt="wavve logo">
                                            <div class="div-provider-selected"><i class="fa-solid fa-check"></i></div>
                                        </label>
                                    </li>
                                    <li class="provider-list-item">
                                        <div class="movie-provider-speech-bubble">Watcha</div>
                                        <input type="checkbox" value="97" name="withWatchProviders" id="provider-97" class="checkbox-provider d-none">
                                        <label for="provider-97" class="checkbox-provider-label">
                                            <img src="https://media.themoviedb.org/t/p/original/5gmEivxOGPdq4Afpq1f8ktLtEW1.jpg" class="movie-provider-img" alt="Watcha logo">
                                            <div class="div-provider-selected"><i class="fa-solid fa-check"></i></div>
                                        </label>
                                    </li>
                                    <li class="provider-list-item">
                                        <div class="movie-provider-speech-bubble">Naver Store</div>
                                        <input type="checkbox" value="96" name="withWatchProviders" id="provider-96" class="checkbox-provider d-none">
                                        <label for="provider-96" class="checkbox-provider-label">
                                            <img src="https://media.themoviedb.org/t/p/original/crFbxg6jkiKc14gpIGMkre9Y3mu.jpg" class="movie-provider-img" alt="Naver Store logo">
                                            <div class="div-provider-selected"><i class="fa-solid fa-check"></i></div>
                                        </label>
                                    </li>
                                    <li class="provider-list-item">
                                        <div class="movie-provider-speech-bubble">Amazon Prime Video</div>
                                        <input type="checkbox" value="119" name="withWatchProviders" id="provider-119" class="checkbox-provider d-none">
                                        <label for="provider-119" class="checkbox-provider-label">
                                            <img src="https://media.themoviedb.org/t/p/original/dQeAar5H991VYporEjUspolDarG.jpg" class="movie-provider-img" alt="Amazon Prime Video logo">
                                            <div class="div-provider-selected"><i class="fa-solid fa-check"></i></div>
                                        </label>
                                    </li>
                                    <li class="provider-list-item">
                                        <div class="movie-provider-speech-bubble">Apple Tv</div>
                                        <input type="checkbox" value="2" name="withWatchProviders" id="provider-2" class="checkbox-provider d-none">
                                        <label for="provider-2" class="checkbox-provider-label">
                                            <img src="https://media.themoviedb.org/t/p/original/9ghgSC0MA082EL6HLCW3GalykFD.jpg" class="movie-provider-img" alt="Apple Tv logo">
                                            <div class="div-provider-selected"><i class="fa-solid fa-check"></i></div>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-each-item-container">
                                <div class="card-each-item-title">개봉일자</div>
                                <div class="div-release">
                                    <label for="input-date-from" class="release-label">from</label>
                                    <input type="date" class="form-horizontal release-input" id="input-date-from" name="primaryReleaseDateGte">
                                </div>
                                <div class="div-release">
                                    <label for="input-date-to" class="release-label">to</label>
                                    <input type="date" class="form-horizontal release-input" id="input-date-to" name="primaryReleaseDateLte">
                                </div>                        
                            </div>
                            
                            <!-- 장르 필터 -->
                            <div class="card-each-item-container">
                                <div class="card-each-item-title">장르</div>
                                <!-- TODO: 나중에 DB에서 장르 목록 가져오면 FOR문으로 대체하기 -->
                                <ul class="genre-list">
                                    <li th:each="movieGenre : ${movieGenreList}">
                                        <input type="checkbox" th:value="${movieGenre.id}" name="withGenres" th:id="'genre-' + ${movieGenre.id}" class="checkbox-genre d-none">
                                        <label th:for="'genre-' + ${movieGenre.id}" th:text="${movieGenre.genre}" class="checkbox-genre-label"></label>
                                    </li>
                                </ul>
                            </div>
                            
                            <!-- 원어 -->
                            <div class="card-each-item-container">
                                <div class="card-each-item-title">원어</div>
                                <div>
                                    <select name="withOriginalLanguage" class="combobox-language">
                                        <option selected="selected" value="">선택 안함</option>
                                        <option value="ko">한국어</option>
                                        <option value="en">영어</option>
                                        <option value="es">스페인어</option>
                                        <option value="ja">일본어</option>
                                        <option value="zh">중국어</option>                                
                                        <option value="fr">프랑스어</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="card-each-item-container">
                                <div class="card-each-item-title">런타임</div>
                                <div>
                                    <span>최소: </span><input type="number" name="withRuntimeGte" class="runtime-range">                           
                                </div>
                                <div>
                                    <span>최대: </span><input type="number" name="withRuntimeLte" class="runtime-range">
                                </div>                                
                            </div>
                                                                                        
                        </div>  <!-- filter container /div -->
                    </div>  <!-- card-body /div -->
                    <input type="submit" class="filter-btn accordion-btn" value="필터">                          
                </div>  <!-- 카드 /div -->
            </form>
            
            <!-- 검색 form -->
            <form action="../movie/search">
                <div class="custom-card accordion-container">
                    <div class="custom-card-header accordion-header">
                        <span class="filter-title">검색</span>
                        <i class="fa-solid fa-caret-down accordion-symbol-down"></i>
                        <i class="fa-solid fa-caret-up accordion-symbol-up"></i>
                    </div>
                    <div class="custom-card-body accordion-content">
                        <div class="card-body-container">
                            <div class="card-each-item-container">
                                <div class="movie-search-input">
                                    <input type="text" class="form-control" name="query">
                                    <div class="movie-search-btn">
                                        <button class="accordion-btn">
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </aside>
      
        <main>
            <div class="list-container">
                <div class="movie-item-container" th:each="movie : ${listDto.results}">
                    <div class="movie-item-image-container">
                        <a th:href="@{/movie/details/{id} (id=${movie.id})}">
                            <img th:if="${movie.posterPath != null && movie.posterPath != 'null' && movie.posterPath != ''}"
                                th:src="@{https://image.tmdb.org/t/p/w220_and_h330_face/{posterPath} (posterPath=${movie.posterPath})}">
                            <img th:unless="${movie.posterPath != null && movie.posterPath != 'null' && movie.posterPath != ''}"
                                th:src="@{/image/no_image_default.webp}">
                        </a>                    
                    </div>
                    <div class="movie-description-container">
                        <a th:href="@{/movie/details/{id} (id=${movie.id})}">
                            <div th:text="${movie.title}" class="movie-title"></div>
                        </a>
                        <div th:text="${movie.releaseDate}"></div>
                    </div>                
                </div>
                <div th:if="${#lists.isEmpty(listDto.results)}">
                    게시글을 찾을 수 없습니다.
                </div>
            </div>
            <button id="btn-more-post" class="btn btn-primary w-100" th:if="${listDto.totalPages > 1}">추가 게시물 로드</button>
        </main>
    </div>
    <div id="btn-to-top">
        <a href="#">
            <div>
                <i class="fa-solid fa-chevron-up"></i>
            </div>
            <div>
                <span>Top</span>
            </div>
        </a>
    </div>

	
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
	 integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script th:inline="javascript">
    	const totalPages = [[${listDto.totalPages}]];
	</script>
	<script th:src="@{/js/navbar.js}"></script>
	<script th:src="@{/js/movie/movie-list.js}"></script>
	<script th:src="@{/js/accordion/accordion.js}"></script>
	
</body>
</html>