<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Fourmen</title>
	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
	 integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link th:href="@{/css/theme.css}" rel="stylesheet">
    <link th:href="@{/css/movie/movie-detail.css}" rel="stylesheet">
    
</head>
<body>
	<nav th:replace="~{/layout/ExampleLayout :: navigation-bar}"></nav>
	<h1>영화디테일</h1>
	<header id="movie-details-header">
        <div id="movie-background-color-div">
            <div class="movie-details-poster-container">
                <img class="detail_poster"
                    th:src="@{~/api/image/proxy(url='https://image.tmdb.org/t/p/w600_and_h900_bestv2' + ${movieDetailsDto.posterPath})}">
            </div>
            <div class="movie-details-description-container">
                <div class="movie-description-inner-container">            
                    <div class="movie-title-etc">
                        <h2 th:text="${movieDetailsDto.title}" class="movie-title"></h2>
                        <div class="movie-etc-info">
                            <span th:text="${movieDetailsDto.releaseDate}"></span>
                            <span th:each=" genre : ${movieDetailsDto.genres}" th:text="${!genreStat.last ? genre.genre + ', ' : genre.genre}"></span>
                            <span th:text="${movieDetailsDto.runtime} + 'm'"></span>
                        </div>
                    </div>
                    <!-- TODO: 좋아요, 트레일러 등 나중에 추가하기 -->
                    <div class="movie-description">
                        <h5 th:if="${movieDetailsDto.tagline != null}" th:text="${movieDetailsDto.tagline}" class="movie-tagline"></h5>
                        <th:block th:if="${movieDetailsDto.overview != null}">
                            <h4>개요</h4>
                            <div class="movie-overview" th:text="${movieDetailsDto.overview}"></div>
                        </th:block>
                    </div>
                    <!-- 감독가져오기 -->
                    <div class="movie-director-container">
                        <h5>감독</h5>
                        <div class="movie-director-name-container">
                            <div if:th="${directorList != null}" th:each="director : ${directorList}" th:text="${director.name}" class="movie-director-name"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
	 integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>
    <script th:inline="javascript">
    	const backdropPath = [[${movieDetailsDto.backdropPath}]];
    </script>
    <script th:src="@{/js/image/img-dominant-color.js}"></script>
	
	
</body>
</html>