<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="${movieDetailsDto.title}"></title>
	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
	 integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/5b5cfeea7f.js" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=oplfecjomd"></script>
	<link th:href="@{/css/theme.css}" rel="stylesheet">
    <link th:href="@{/css/review/review-star.css}" rel="stylesheet">
	  <link th:href="@{/css/navbar.css}" rel="stylesheet">
    <link th:href="@{/css/movie/movie-detail.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/user.css}">


    <style>
        .movie-review {
            margin-top: 20px;
        }

        .movie-review  a {
            text-decoration: none;
            color: inherit;
        }

        .movie-review a:hover {
            color: #8dabfb;
        }

        .movieAllReview {
            margin-top: 10px;
            margin-left: 10px;
        }

        .review-item {
            border-top: 1px solid  #6c757d;
        }

        .review-item-user-profile-img-a-tag {
            width: 55px;
            height: 55px;
            border-radius: 50%;
        }

        .review-item-user-profile-img {
            width: 55px;
            height: 55px;
            position: relative;
            cursor: pointer;
        }

        .review-item-user-profile-img > img {
            width: 55px;
            height: 55px;
            border-radius: 50%;
            border: 1px solid rgba(256, 256, 256, 0.5);
            object-fit: cover
        }

        .review-item-user-profile-img > img:hover {
            border: 1px solid #33ff33;
        }

        .review-item-content > div {
            padding: 0 0 10px 0;
            margin-left: 20px;
        }

        .reviewer-nickname {
            font-size: 20px;
            font-weight: bolder;
        }

        .review-item-content-footer > i {
            color: inherit;
        }

        .review-item-content-article > a {
            text-decoration: none;
            color: white;
        }

        .content-article {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            line-height: 1.2;
            text-align: left;
        }

        .content-article:hover {
            color: #c4c3ca;
        }

    </style>


</head>
<body>
	<nav th:replace="~{layout/ExampleLayout :: navigation-bar}"></nav>

	<header id="movie-details-header">
        <div id="movie-background-color-div">
            <div class="movie-poster-provider-container">
                <div class="movie-details-poster-container">                    
                    <img th:if="${movieDetailsDto.posterPath != null && movieDetailsDto.posterPath != 'null' && movieDetailsDto.posterPath != ''}"
                        class="detail_poster"
                        th:src="@{~/api/image/proxy(url='https://image.tmdb.org/t/p/w600_and_h900_bestv2' + ${movieDetailsDto.posterPath})}" alt="포스터">                      
                    <img th:unless="${movieDetailsDto.posterPath != null && movieDetailsDto.posterPath != 'null' && movieDetailsDto.posterPath != ''}"
                        class="detail_poster"
                        th:src="@{/image/no_image_default.webp}">
                </div>
            </div>
            <section class="movie-details-description-container">
                <div class="movie-description-inner-container">
                    <!-- 영화 평점 -->
                    <div style="display: flex; gap: 40px; margin-bottom: 1rem;">
                        <th:block th:if="${imdbRatings ne null}">
                            <section style="display: flex; gap: 20px">
                                <h2><img th:src = "@{'/icons/imdb-icon.svg'}" width="42" height="42"/></h2>
                                <div style="display: flex; flex-direction: column;">
                                    <span th:text="${imdbRatings.getAveragerating() + ' / 10'}"></span>
                                    <span>
                                        <i class="fa-solid fa-user"></i>
                                        <span th:text="${imdbRatings.getNumvotes()}"></span>                                       
                                    </span>
                                </div>
                            </section>
                        </th:block>
                        <section style="display: flex; gap: 20px">
                            <h2><img th:src="@{'/icons/FFMLOGO.png'}" width="45" height="45" style="border-radius: .5rem"></h2>
                            <div style="display: flex; flex-direction: column">
                                <span th:if="${ratingAverage != 0}" 
                                    th:text="${ratingAverage} + ' / 5'"></span>
                                <span th:unless="${ratingAverage != 0}">- / 5</span>
                                <span>
                                    <i class="fa-solid fa-user"></i>
                                    <span th:if="${movieReviewList != null}" th:text="|${#lists.size(movieReviewList)}|"></span>
                                    <span th:unless="${movieReviewList != null}">0</span>
                                </span>
                            </div>
                        </section>
                    </div>    
                    <div class="movie-title-etc">
                        <h2 th:text="|${movieDetailsDto.title} (${movieDetailsDto.releaseDate.year})|" class="movie-title" th:if="${movieDetailsDto.releaseDate != null}"></h2>
                        <h2 th:text="${movieDetailsDto.title}" class="movie-title" th:if="movieDetailsDto.releaseDate == null"></h2>
                        <div class="movie-etc-info">
                            <th:block th:if="${releaseItemDto != null}">
                                <div class="div-movie-certificate" th:if="${releaseItemDto.certification != ''}">
                                    <span th:text="|${releaseItemDto.certification}+|"></span>
                                </div>
                            </th:block>
                            <div>
                                <span th:text="${movieDetailsDto.releaseDate}"></span>
                            </div>
                            <div>
                                <span th:each=" genre : ${movieDetailsDto.genres}" th:text="${!genreStat.last ? genre.genre + ', ' : genre.genre}"></span>
                            </div>
                            <div>
                                <span th:text="${movieDetailsDto.runtime} + 'm'"></span>
                            </div>
                        </div>
                    </div>
                    <!-- 좋아요, 트레일러 등 -->
                    <div class="movie-like-trailer-container">
                        <!-- 플레이리스트 -->
                        <div th:id="${member} != null ? 'playListModalLabel'" class="movie-like-item div-playlist">
                            <button class="movie-like-button btn-playlist" data-bs-toggle="modal" data-bs-target="#playListModal">
                                <i class="fa-solid fa-list"></i>
                            </button>
                        </div>
                        <!-- 좋아요 -->
                        <div class="movie-like-item div-like" th:classappend="${tmdbLike} != null ? 'user-liked-already'">
                            <button class="movie-like-button btn-add-like" type="button">
                                <i class="fa-solid fa-heart"></i>
                            </button>
                        </div>
                        <!-- 리뷰 -->
                        <div  class="movie-like-item div-review" th:classappend="${myReview} != null ? 'user-reviewed-already'">
                            <button type="button" class="btn-movie-review" data-bs-toggle="modal" data-bs-target="#movie-review">
                                <i class="fa-solid fa-pen"></i>
                            </button>
                        </div>
                        <!-- 오픈채팅 -->
                        <div class="movie-like-item">
                            <button class="movie-like-button btn-open-chat">                                                
                                <i class="fa-regular fa-comment"></i>
                            </button>                            
                        </div>                                                                          
                        
                        <!-- 트레일러가 있는 경우에만 이 버튼과 모달 보여주기 -->
                        <th:block th:if="${!#lists.isEmpty(movieTrailerList) and movieTrailerList != null}">
                            <div class="movie-trailer-item" data-bs-toggle="modal" data-bs-target="#movieTrailerModal">
                                <!-- switch문을 통해 트레일러 동영상 재생 플래폼에따라 맞는 주소를 줌 -->
                                <!-- 
                                <th:block th:if="${!#lists.isEmpty(movieTrailerList) and movieTrailerList != null}" th:switch="${movieTrailerList[0].site}">
                                    <a th:case="'YouTube'" th:href="@{https://www.youtube.com/watch?v={key} (key = ${movieTrailerList[0].key})}">
                                    <a th:case="'Vimeo'" th:href="@{https://vimeo.com/{key} (key = ${movieTrailerList[0].key})}">
                                </th:block>
                                 -->
                                <div class="movie-trailer">
                                    <i class="fa-solid fa-play"></i>
                                </div>    
                                <div class="movie-trailer">
                                    <span>
                                        트레일러 보기 
                                    </span>
                                </div>                
                            </div>
                        </th:block>           
                    </div>
                    
                    <!-- 플레이리스트 모달 -->
                    <div th:if="${member != null}" class="modal fade" id="playListModal" tabindex="-1" aria-labelledby="playListModal" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5">Play List</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body playlist-modal">
                                    <div class="div-movie-add-playlist">
                                        <button class="btn-add-new-playlist" data-bs-target="#createPlaylistModal" data-bs-toggle="modal">
                                            <i class="fa-solid fa-folder-plus"></i><span class="ms-3">New Playlist</span>
                                        </button>   
                                    </div>
                                    <div class="div-playlist-container">
                                        <div class="div-each-playlist-container" th:if="${userPlaylist != null && !#lists.isEmpty(userPlaylist)}" th:each="eachPlaylist : ${userPlaylist}">
                                            <div class="div-playlist-image-container">
                                                <div>
                                                    <img class="img-each-playlist-poster" 
                                                        th:if="${eachPlaylist.playlistItemDtoList != null && !#lists.isEmpty(eachPlaylist.playlistItemDtoList)}"
                                                        th:src="@{https://image.tmdb.org/t/p/w92/{posterPath} (posterPath = ${eachPlaylist.playlistItemDtoList[0].workDetails.posterPath})}">
                                                    <img class="img-each-playlist-poster"
                                                        th:unless="${eachPlaylist.playlistItemDtoList != null && !#lists.isEmpty(eachPlaylist.playlistItemDtoList)}"
                                                        th:src="@{/image/playlist_default.svg}">
                                                </div>
                                            </div>
                                            <div class="div-playlist-name-selection-container">
                                                <input class="checkbox-each-playlist d-none" type="radio" name="playlistId" th:value="${eachPlaylist.playlistId}" th:id="|playlist${eachPlaylist.playlistId}|">
                                                <label class="label-each-playlist" th:for="|playlist${eachPlaylist.playlistId}|" th:text="${eachPlaylist.playlistName}"></label>
                                            </div>
                                        </div>
                                        <div th:unless="${userPlaylist != null && !#lists.isEmpty(userPlaylist)}">
                                            플레이리스트가 존재하지 않습니다.
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btn-close-playlist-modal" data-bs-dismiss="modal">닫기</button>
                                    <button type="button" class="btn btn-primary btn-add-playlist">추가</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 새 플레이리스트 만들기 모달 -->
                    <div class="modal fade" th:if="${member != null}" id="createPlaylistModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">New Playlist</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h5>새 플레이리스트 이름</h5>
                                    <input type="text" class="form-control input-playlist-name" maxlength="30" required>
                                    <div class="div-playlist-private">
                                        <label for="playlist-private">나만 보기</label>
                                        <input id="playlist-private" class="input-is-private" type="checkbox" name="isPrivate" value="Y">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary btn-to-first-modal" data-bs-target="#playListModal" data-bs-toggle="modal">이전</button>
                                    <button class="btn btn-success btn-create-new-playlist">만들기</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 리뷰 남기기 모달 -->
                    <div class="modal fade" id="movie-review" th:if="${member != null && myReview == null}" tabindex="-1" aria-labelledby="movie-review" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5 movie-review-modal-title" th:text="Review"></h1>
                                    <button type="button" class="btn-header-close" data-bs-dismiss="modal" aria-label="Close">
                                        <i class="fa-solid fa-xmark"></i>                                    
                                    </button>
                                </div>
                                <div class="modal-body movie-review-modal-body">
                                    <!-- 모달 몸체 작성 -->
                                    <div class="review-poster-container">
                                        <div class="div-moview-review-poster">
                                            <img th:src="@{https://image.tmdb.org/t/p/w342/{posterPath} (posterPath=${movieDetailsDto.posterPath})}">
                                        </div>
                                    </div>
                                    <div class="div-movie-review-comment">
                                        <h4 th:text="${movieDetailsDto.title}"></h4>
                                        
                                        <form class="review-form">
                                            <div class="textarea-count-characters-container">
                                                <textarea class="text-area-review-comment" placeholder="리뷰 작성를 남겨 주세요. (1000자)" maxlength="1000" name="content" required></textarea>
                                                <div class="div-review-count-characters"><span class="span-review-count-characthers">0</span> / 1000자</div>
                                            </div>
                                            <div class="review-spoiler-rating-title-container">
                                                <div class="div-movie-review-spoiler-checkbox">
                                                    <input type="checkbox" name="includeSpoiler" id="checkboxSpoiler" value="Y">
                                                    <label for="checkboxSpoiler">스포일러가 포함되어 있습니까?</label>
                                                </div>
                                                <h5>평점</h5>
                                            </div>
                                            <div class="review-stars-container">
                                                <fieldset class="rating">                            
                                                    
                                                    <input type="radio" name="rating" class="review-checkbox" id="star5" value="5" required>
                                                    <label for="star5" class="full" title="5 stars"></label>                                        
                                                                                                    
                                                    <input type="radio" name="rating" class="review-checkbox" id="star4half" value="4.5" required>
                                                    <label for="star4half" class="half" title="4.5 stars"></label>
                                                    
                                                    <input type="radio" name="rating" class="review-checkbox" id="star4" value="4" required>
                                                    <label for="star4" class="full" title="4 stars"></label>
                                                    
                                                    <input type="radio" name="rating" class="review-checkbox" id="star3half" value="3.5" required>
                                                    <label for="star3half" class="half" title="3.5 stars"></label>
                                                    
                                                    <input type="radio" name="rating" class="review-checkbox" id="star3" value="3" required>
                                                    <label for="star3" class="full" title="3 stars"></label>
                                                                                                    
                                                    <input type="radio" name="rating" class="review-checkbox" id="star2half" value="2.5" required>
                                                    <label for="star2half" class="half" title="2.5 stars"></label>
                                                    
                                                    <input type="radio" name="rating" class="review-checkbox" id="star2" value="2" required>
                                                    <label for="star2" class="full" title="2 stars"></label>
                                                    
                                                    <input type="radio" name="rating" class="review-checkbox" id="star1half" value="1.5" required>
                                                    <label for="star1half" class="half" title="1.5 stars"></label>
                                                                                                    
                                                    <input type="radio" name="rating" class="review-checkbox" id="star1" value="1" required>
                                                    <label for="star1" class="full" title="1 stars"></label>
                                                                                        
                                                    <input type="radio" name="rating" class="review-checkbox" id="starhalf" value="0.5" required>
                                                    <label for="starhalf" class="half" title="0.5 stars"></label>
                                                </fieldset>                                            
                                            </div>
                                        </form>
                                    </div>      
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                    <button type="button" class="btn btn-primary btn-send-review">저장</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <!-- 트레일러 동영상을 위한 Modal -->
                    <th:block th:if="${!#lists.isEmpty(movieTrailerList) and movieTrailerList != null}">
                        <div class="modal fade" id="movieTrailerModal" tabindex="-1" data-bs-backdrop="static" data-keyboard="false"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title fs-5" id="movieTrailerModalLabel" th:text="${movieDetailsDto.title} + ' 트레일러'"></h3>
                                        <div class="div-btn-close">
                                            <button type="button" class="btn-header-close" data-bs-dismiss="modal" aria-label="Close">
                                                <i class="fa-solid fa-xmark"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                    	<div>
                                            <th:block th:switch="${movieTrailerList[0].site}">
                                                <iframe th:case="'YouTube'" class="iframe-movie-trailer-video" 
                                                 th:src="@{https://www.youtube.com/embed/{key} (key = ${movieTrailerList[0].key})}"
                                                 frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                                 allowfullscreen></iframe>
                                                
                                                <iframe th:case="'Vimeo'" class="iframe-movie-trailer-video" 
                                                 th:src="@{https://player.vimeo.com/video/{key} (key = ${movieTrailerList[0].key})}"
                                                 frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                                 allowfullscreen></iframe>
                                            </th:block>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                    
                    
                    <div class="movie-description">
                        <h5 th:if="${movieDetailsDto.tagline != null}" th:text="${movieDetailsDto.tagline}" class="movie-tagline"></h5>
                        <th:block th:if="${movieDetailsDto.overview != null}">
                            <h4>개요</h4>
                            <div class="movie-overview" th:text="${movieDetailsDto.overview}"></div>
                        </th:block>
                    </div>
                    <!-- 감독가져오기 -->
                    <div class="movie-director-container">
                        <h5>감독</h5>
                        <div class="movie-director-name-container">
                            <div th:if="${directorList != null}" th:each="director : ${directorList}" th:text="${director.name}" class="movie-director-name"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </header>
    
    <div class="movie-body-content">
        <main class="movie-main-container">        
            <section class="movie-cast-container main-section movie-card-container">
                <h3>캐스팅</h3>
                <button class="btn-slide-image btn-prev"><i class="fa-solid fa-chevron-left"></i></button>
                <div class="movie-whole-cards-container">                    
                    <div th:each="cast : ${castList}" class="div-each-card">                                                         
                        <div class="movie-card-image-container">                            
                            <img th:if="${cast.profilePath != null && cast.profilePath != '' && cast.profilePath != 'null'}"
                                 th:src="@{https://media.themoviedb.org/t/p/w138_and_h175_face{profilePath} (profilePath = ${cast.profilePath})}"
                                 alt="출연진 사진" class="img-movie-card">
                             <img th:unless="${cast.profilePath != null && cast.profilePath != '' && cast.profilePath != 'null'}"
                                th:src="@{/image/person_default_image01.png}"  alt="출연진 사진" class="img-movie-card">
                             <a class="movie-a-movie-card-overlay" th:href="@{/person/details/{personId} (personId=${cast.id})}">
                                <div class="div-movie-card-overlay">
                                    <p th:text="${cast.name}" class="movie-card-name"></p>
                                    <p th:text="${cast.character}" class="movie-cast-character"></p>
                                </div>
                            </a>                                              
                         </div>
                    </div>                    
                </div>
                <button class="btn-slide-image btn-next"><i class="fa-solid fa-chevron-right"></i></button>                
            </section>
            
            <div class="div-horizontal-line" th:if="${movieDetailsDto.belongsToCollection}"></div>
            
            <selection th:if="${movieDetailsDto.belongsToCollection}" class="movie-collection-container main-section movie-card-container">
                <h3 th:text="|${movieDetailsDto.belongsToCollection.name}에 포함된 작품|"></h3>
                <button class="btn-slide-image btn-prev"><i class="fa-solid fa-chevron-left"></i></button>
                <div class="movie-whole-cards-container">
                    <div class="div-each-card" th:each="movieInCollection : ${movieCollectionList}">
                        <a class="movie-collection-card-link" th:href="@{/movie/details/{id}(id = ${movieInCollection.id})}">
                            <div class="movie-card-image-container movie-poster-card">
                                <img th:if="${movieInCollection.posterPath != null && movieInCollection.posterPath != '' && movieInCollection.posterPath != 'null'}"
                                    th:src="@{https://image.tmdb.org/t/p/w300{posterPath} (posterPath = ${movieInCollection.posterPath})}"
                                    alt="무비 컬랙션 포스터" class="img-movie-cast img-movie-collection-card">
                                <img th:if="${movieInCollection.posterPath != null && movieInCollection.posterPath != '' && movieInCollection.posterPath != 'null'}"
                                    th:src="@{/image/no_image_default.webp}">
                                <div class="div-movie-card-overlay">
                                    <p class="movie-card-name" th:text="${movieInCollection.title}"></p>
                                </div>
                            </div>
                        </a>
                    </div>                    
                </div>
                <button class="btn-slide-image btn-next"><i class="fa-solid fa-chevron-right"></i></button>   
            </selection>
            
            <div class="div-horizontal-line"></div>
            
            <div class = "movie-review">
                <th:block th:if="${movieReviewList.size() ne 0}">
                    <section style="display: flex">
                        <h3>리뷰</h3>
                        <a class = "movieAllReview" th:href="@{/reviews/{category}/{id}(category = 'movie', id = ${movieDetailsDto.getId()})}">
                            <span>전체 리뷰 보러가기</span>
                        </a>
                    </section>

                    <section class="popular-review-section">

                        <div class = "review-item" th:each=" review : ${movieReviewList}" style="height: auto; padding: 0; margin-left: 30px; margin-right: 30px">
                            <input class = "d-none" th:email="${review.getMember().getEmail()}">

                            <div class = "review-item-body" style="display: flex; margin: 0 20px 0 20px; padding: 20px 0 0 0;">

                                <a class = "review-item-user-profile-img-a-tag" th:href="@{/mypage/details/{memberId}/profile(memberId = ${review.getMember().getMemberId()})}">
                                    <section class = "review-item-user-profile-img">
                                        <img th:src="@{${review.getMember().getUsersaveprofile()}}">
                                    </section>
                                </a>

                                <section class= "review-item-content">
                                    <div class = "review-item-content-header">
                                        <section>
                                            <span style="color: #c4c3ca; font-weight: lighter; font-size: 12px;">Review By</span>
                                        </section>
                                        <a th:href="@{/mypage/details/{memberId}/profile(memberId = ${review.getMember().getMemberId()})}">
                                            <span class = "reviewer-nickname" th:text="${review.getMember().getNickname()}"></span>
                                        </a>
                                        <span id = "view-star-rating" th:rating = "${review.getRating()}" style="font-size: 15px; color: #33ff33"></span>
                                    </div>
                                    <div class = "review-item-content-article">
                                        <a th:href="@{/reviews/{reviewId}(reviewId = ${review.getReviewId()})}">
                                            <article class = "content-article"
                                                    th:if="${review.getIsSpoiler().equalsIgnoreCase('n')}"
                                                        th:text="${review.getContent()}"></article>
                                            <article class = "content-article" th:if="${review.getIsSpoiler().equalsIgnoreCase('y')}">
                                                스포일러가 포함된 리뷰 입니다. <br> 상세페이지에서 확인 하세요.
                                            </article>
                                        </a>
                                    </div>
                                    <div class = "review-item-content-footer">
                                        <i class="me-2 fa-solid fa-thumbs-up"></i><span th:text="${numOfReviewLiked.get(review.getReviewId())} + ' ' "></span> Likes
                                        <i class="ms-3 me-2 fa-solid fa-comment"></i><span th:text="${numOfReviewComment.get(review.getReviewId()) + ' ' }"></span>Comments
                                    </div>
                                </section>

                            </div>
                        </div>
                    </section>

                </th:block>
                
                <th:block th:unless="${movieReviewList.size() ne 0}">
                    <h3 class="my-3">남겨진 리뷰가 없습니다</h3>
                </th:block>

            </div>


            <div class="div-horizontal-line" th:if="${!#lists.isEmpty(recommendedList)}"></div>
            
            <selection th:if="${!#lists.isEmpty(recommendedList)}" class="movie-collection-container main-section movie-card-container">
                <h3>추천</h3>
                <button class="btn-slide-image btn-prev"><i class="fa-solid fa-chevron-left"></i></button>
                <div class="movie-whole-cards-container">
                    <div class="div-each-card" th:each="recommended : ${recommendedList}">
                        <a class="movie-collection-card-link" th:href="@{/movie/details/{id}(id = ${recommended.id})}">
                            <div class="movie-card-image-container movie-poster-card">
                                <img th:if="${recommended.posterPath != null && recommended.posterPath != 'null' && recommended.posterPath != ''}"
                                    th:src="@{https://image.tmdb.org/t/p/w300{posterPath} (posterPath = ${recommended.posterPath})}"
                                    alt="추천 작품 포스터" class="img-movie-cast img-movie-collection-card">
                                <img th:unless="${recommended.posterPath != null && recommended.posterPath != 'null' && recommended.posterPath != ''}"
                                    th:src="@{/image/no_image_default.webp}"
                                    alt="추천 작품 포스터" class="img-movie-cast img-movie-collection-card">
                                <div class="div-movie-card-overlay">
                                    <p class="movie-card-name" th:text="${recommended.title}"></p>
                                </div>
                            </div>
                        </a>
                    </div>                    
                </div>
                <button class="btn-slide-image btn-next"><i class="fa-solid fa-chevron-right"></i></button> 
            </selection>
        </main>
        
        <!-- 우측 사이드바같은 영화상세정보 구간 -->
        <aside class="movie-aisde-container">
            <section class="movie-social-media-section aside-section bubble-outer-container">
                <div th:if="${movieExternalIdDto.instagramId}" class="movie-social-media-each-container bubble-inner-container">
                    <div id="speech-bubble-instagram" class="speech-bubble-top speech-bubble-social-media-position">인스타그램</div>
                    <a th:href="@{https://www.instagram.com/{id} (id = ${movieExternalIdDto.instagramId})}" target="_blank" rel="noopener noreferrer" class="speech-icon-container">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </div>
                <div th:if="${movieExternalIdDto.facebookId}" class="movie-social-media-each-container bubble-inner-container">
                    <div id="speech-bubble-facebook" class="speech-bubble-top speech-bubble-social-media-position">페이스북</div>
                    <a th:href="@{https://www.facebook.com/{id} (id = ${movieExternalIdDto.facebookId})}" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                </div>
                <div th:if="${movieExternalIdDto.twitterId}" class="movie-social-media-each-container bubble-inner-container">
                    <div id="speech-bubble-x" class="speech-bubble-top speech-bubble-social-media-position">X</div>
                    <a th:href="@{https://twitter.com/{id} (id = ${movieExternalIdDto.twitterId})}"  target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-x-twitter"></i>
                    </a>
                </div>
                <div th:if="${movieExternalIdDto.imdbId}" class="movie-social-media-each-container bubble-inner-container">
                    <div id="speech-bubble-imdb" class="speech-bubble-top speech-bubble-social-media-position">IMDb</div>
                    <a th:href="@{https://www.imdb.com/title/{id} (id = ${movieExternalIdDto.imdbId})}" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-imdb"></i>
                    </a>
                </div>                    
            </section>
            
            <section class="movie-provider-container aside-section bubble-outer-container" th:if="${movieProviderList != null}">
                <h4>Available Now on</h4>

                <div class="movie-provider-logo-container">
                    <div class="div-provider-each bubble-inner-container" th:each="provider : ${movieProviderList}">
                        <div class="speech-bubble-top speech-bubble-provider bubble-provider-position">
                            <p th:text="${provider.providerName}" class="provider-name"></p>
                            <p class="provider-option"><span th:each="option : ${provider.options}" th:text="${optionStat.last ? option : option + ', '}"></span></p>
                        </div>
                        <div class="div-provider-each-logo">
                            <img class="movie-provider-logo" th:src="@{https://media.themoviedb.org/t/p/original{logoPath} (logoPath = ${provider.logoPath})}">                                                    
                        </div>
                        <!-- <div class="div-provider-description">
                            <p th:text="${provider.providerName}" class="provider-name"></p>
                            <p class="provider-options"><span th:each="option : ${provider.options}" th:text="${!optionStat.last ? option + ', ' : option}"></span></p>
                        </div> -->
                    </div>
                    <br>
                </div>
               <small class = "my-0">Powered By</small><br>
                <a th:href="@{'https://www.justwatch.com/kr'}" target="_blank">
                    <span><img th:src = "@{'/image/justwatch.svg'}" width="auto" height="15"/></span>
                </a>
            </section>
            
            <section class="movie-detailed-description aside-section">
                <div class="original-title-container" th:if="${movieDetailsDto.originalTitle != null}">
                    <h5>원제</h5>
                    <div th:text="${movieDetailsDto.originalTitle}"></div>
                </div>
                <div class="release-date-container">
                    <h5>개봉일</h5>
                    <div th:text="${movieDetailsDto.releaseDate}"></div>
                </div>
                <div th:if="${movieDetailsDto.productionCountries != null and !#lists.isEmpty(movieDetailsDto.productionCountries)}">
                    <h5>국가</h5>
                    <div><span th:each="country : ${movieDetailsDto.productionCountries}" th:text="${countryStat.last ? country.name : country.name + ', '}"></span></div>
                </div>               
                <div class="original-language-container" th:if="${movieDetailsDto.originalLanguage != null}">
                    <h5>원어</h5>
                    <div th:text="${movieDetailsDto.originalLanguage}"></div>
                </div>
            </section>
            
        </aside>
    </div>

    <footer th:replace="~{layout/FooterLayout :: footer-bar}"></footer>    

    <script th:src="@{/js/footer.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
	 integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script th:inline="javascript">
    	const backdropPath = [[${movieDetailsDto.backdropPath}]];
    </script>
    <script th:src="@{/js/navbar.js}"></script>
    <script th:src="@{/js/image/img-dominant-color.js}"></script>
    <script th:src="@{/js/movie/movie-image-slide.js}"></script>
    <script th:src="@{/js/movie/movie-detail.js}"></script>
    <script th:src="@{/js/features/features.js}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const starRatingElements = document.querySelectorAll('#view-star-rating');

        starRatingElements.forEach( element => {
            const rating = parseFloat(element.getAttribute('rating'));

            const integerPart = Math.floor(rating); // 정수
            const decimalPart = rating - integerPart; // 소수

            for (let i = 0; i < integerPart; i++) {
                const starIcon = document.createElement('i');
                starIcon.classList.add('fa-solid', 'fa-star');
                element.appendChild(starIcon);
            }

            if (decimalPart === 0.5) {
                const halfStarRating = document.createElement('i');
                halfStarRating.classList.add('halfScore');
                halfStarRating.innerText = '½';
                element.appendChild(halfStarRating);
            }

        });
    });

</script>
	

</body>
</html>