@charset "UTF-8";


/* 아코디언 관련 */
.accordion-header {
    cursor: pointer;
    
}

.accordion-symbol-up {
    display: none;
}

.accordion-content {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: height 0.5s ease-out;    
}

.accordion-btn {
    height: 0;
}

