 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TEAM FOURMEN</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
</head>
<body>
    <nav th:replace="~{/layout/ExampleLayout :: navigation-bar}"></nav>
	<h1>TEAM FOURMEN FINAL PROJECT</h1>

	<p>약속된 폴더명, 파일명, 클래스명, SERVICE, DTO명, 정하고 시작하기...!</p>
	<p>ENCODING UTF-8 세팅...!</p>
	<p>SPACING TAB 설정...!</p>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
	</script>
</body>
</html>