<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<title>TEAM FOURMEN LAYOUT</title>
<script src="https://kit.fontawesome.com/5b5cfeea7f.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav id="navbar-container" th:fragment="navigation-bar">
        <div class="navbar-inner-container">
            <a th:href="@{/}">      
                <div class="navbar-logo-container">
                    <img class="navbar-logo-image" src="image/포맨시네마로고.png">
                </div>
            </a>
            <div class="navbar-menu-outer-container nav-div-width-adjustment">
                <button class="navbar-menu-btn">       
                    <span class="navbar-menu-text-icon-span nav-div-width-adjustment">
                        <i class="fa-solid fa-bars navbar-menu-hamburger-icon"></i> Menu
                    </span>
                </button>              
            </div>
            <div class="navbar-search-container">
                <div class="navbar-search-inner-container">
                    <form> <!-- 나중에 검색할 링크 달기 -->
                        <div class="navbar-search-input-container">
                            <input class="navbar-search-input" type="text" max-length="50">
                        </div>
                        <button class="navbar-search-button">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>
            </div>
            <div class="navbar-user-div">
                <th:block sec:authorize="isAnonymous()">
                    <div class="nav-div-width-adjustment">
                        <a th:href="@{/login}" class="navbar-link">
                            <span>Sign In</span>
                        </a>
                    </div>
                    <div class="nav-div-width-adjustment">
                        <a th:href="@{/login}" class="navbar-link">
                            <span>Sign Up</span>
                        </a>
                    </div>
                </th:block>
                <th:block sec:authorize="isAuthenticated()">
                    <div class="nav-div-width-adjustment">
                        <a th:href="@{/logout}" class="navbar-link">
                            <span>Sign out</span>
                        </a>
                    </div>
                     <div class="profile-picture" id="profile-picture">

    <img th:if="${member.usersaveprofile.toLowerCase().startsWith('http')}" th:src="${member.usersaveprofile}"  id="profile_s_img" class="profile-image" alt="User Profile">
    <img th:unless="${member.usersaveprofile.toLowerCase().startsWith('http')}" th:src="@{'/image?photo=' + ${member.usersaveprofile}}"  id="profile_s_imgg" class="profile-image" alt="User Profile">
	

	</div>
                </th:block>
            </div>
        </div>
         <!-- 디테일 메뉴들 -->
         <div class="navbar-background"></div>
        <div class="navbar-detailed-menu">
            <div class="navbar-detailed-x-container">
                <div class="navbar-detailed-x-div">
                    <i class="fa-solid fa-xmark navbar-detailed-x"></i>
                </div>
            </div>
            <div class="navbar-detailed-menu-section-container">
                <div class="navbar-detailed-menu-title">
                    <div>
                        <span><i class="fa-solid fa-film"></i></span>
                        Movie
                    </div>
                    <div class="navbar-chevron-div">
                        <i class="fa-solid fa-chevron-down navbar-chevron-down"></i>
                        <i class="fa-solid fa-chevron-up navbar-chevron-up"></i>
                    </div>
                </div>
                <div class="navbar-detailed-menu-items">
                    <div class="navbar-detailed-menu-list">
                        <div class="navbar-each-menu-item"><a th:href="@{/movie/popular}">인기 영화</a></div>
                        <div class="navbar-each-menu-item"><a th:href="@{/movie/now_playing}">현재 상영 영화</a></div>
                        <div class="navbar-each-menu-item"><a th:href="@{/movie/top_rated}">최고 평점 영화</a></div>
                        <div class="navbar-each-menu-item"><a th:href="@{/movie/upcoming}">상영 예정 영화</a></div>
                    </div>
                </div>
            </div>
            <div class="navbar-detailed-menu-section-container">
                <div class="navbar-detailed-menu-title">
                    <div>
                        <span><i class="fa-solid fa-tv"></i></span>
                        TV Show
                    </div>
                    <div class="navbar-chevron-div">
                        <i class="fa-solid fa-chevron-down navbar-chevron-down"></i>
                        <i class="fa-solid fa-chevron-up navbar-chevron-up"></i>
                    </div>                    
                </div>
                <div class="navbar-detailed-menu-items">

                    <div class="navbar-detailed-menu-list">
                        <div class="navbar-each-menu-item"><a th:href="@{/tv/trending/day}">TV SHOW Trending Day LIST</a></div>
                        <div class="navbar-each-menu-item"><a th:href="@{/tv/trending/week}">TV SHOW Trending Week LIST</a></div>
                        <div class="navbar-each-menu-item"><a th:href="@{/tv/top_rated}">TV SHOW Top_rated LIST</a></div>
                        <div class="navbar-each-menu-item"><a th:href="@{/tv/ott/netflix}">TV SHOW Watch on Netflix</a></div>
                        <div class="navbar-each-menu-item"><a th:href="@{/tv/ott/disney_plus}">TV SHOW Watch on Disney Plus</a></div>
                        <div class="navbar-each-menu-item"><a th:href="@{/tv/ott/apple_tv}">TV SHOW Watch Apple Tv</a></div>
                        <div class="navbar-each-menu-item"><a th:href="@{/tv/ott/amazon_prime}">TV SHOW Watch on Amazon Prime Video</a></div>
                        <div class="navbar-each-menu-item"><a th:href="@{/tv/ott/watcha}">TV SHOW Watch on Watcha</a></div>
                        <div class="navbar-each-menu-item"><a th:href="@{/tv/ott/wavve}">TV SHOW Watch on Wavve</a></div>                        
                    </div>

                </div>
            </div>
            <div class="navbar-detailed-menu-section-container">
                <div class="navbar-detailed-menu-title">
                    <div>
                        <span><i class="fa-solid fa-user-group"></i></span>
                        People
                    </div>
                    <div class="navbar-chevron-div">
                        <i class="fa-solid fa-chevron-down navbar-chevron-down"></i>
                        <i class="fa-solid fa-chevron-up navbar-chevron-up"></i>
                    </div>
                </div>
                <div class="navbar-detailed-menu-items">
                    <div class="navbar-detailed-menu-list">
                        <div class="navbar-each-menu-item"><a th:href="@{/person/list?language=ko}">Popular</a></div>
                    </div>
                </div>
            </div>                    
        </div>
        
        
        <th:block sec:authorize="isAuthenticated()">
        <div class="navbar-mypage-background"></div>
        <div class="navbar-detailed-mypage-menu">
            <div class="navbar-detailed-x-container">
                <div class="navbar-detailed-x-div-mypage">
                   <a href='/mypage'><div class="profile-picture mypage-profile">

    <img th:if="${member.usersaveprofile.toLowerCase().startsWith('http')}" th:src="${member.usersaveprofile}"  id="profile_s_img" class="profile-image" alt="User Profile">
    <img th:unless="${member.usersaveprofile.toLowerCase().startsWith('http')}" th:src="@{'/image?photo=' + ${member.usersaveprofile}}"  id="profile_s_imgg" class="profile-image" alt="User Profile">
	

	</div></a><div th:text="${member.nickname}"></div>
                    <i class="fa-solid fa-xmark navbar-detailed-x-mypage" id="close-mypage"></i>
                </div>
            </div>
     
            <div class="navbar-detailed-menu-section-container-mypage">
                <div class="navbar-detailed-menu-title-mypage">
                    <div>
                        <span><i class="fa-solid fa-user"></i></span>
                    
                    </div>

                </div>
                <div class="navbar-detailed-menu-items-mypage">
                    <div class="navbar-detailed-menu-list-mypage">
                        <div class="navbar-each-menu-item-mypage"><a th:href="@{/mypage}">My Page</a></div>
                          <div class="navbar-each-menu-item-mypage"><a th:href="@{/person/list?language=ko}">My follower</a></div>
                    	<div class="navbar-each-menu-item-mypage"><a th:href="@{/person/list?language=ko}">My following</a></div>
                    </div>
                </div>
            </div>
            
            <div class="navbar-detailed-menu-section-container-mypage">
                <div class="navbar-detailed-menu-title-mypage">
                    <div>
                        <span><i class="fa-solid fa-list"></i></span>
                      
                    </div>
                        
                </div>
                <div class="navbar-detailed-menu-items-mypage">

                    <div class="navbar-detailed-menu-list-mypage">
                        <div class="navbar-each-menu-item-mypage"><a th:href="@{/tv/trending/day}">My Review</a></div>
                        <div class="navbar-each-menu-item-mypage"><a th:href="@{/tv/trending/week}">My Playlist</a></div>
                        <div class="navbar-each-menu-item-mypage"><a th:href="@{/tv/ott/wavve}">My Forum</a></div>                        
                    </div>

                </div>
            </div>   
            <div class="navbar-detailed-menu-section-container-mypage">
                <div class="navbar-detailed-menu-title-mypage">
                    <div>
                        <span><i class="fa-solid fa-heart"></i></span>
                        
                    </div>
                </div>
                <div class="navbar-detailed-menu-items-mypage">
                    <div class="navbar-detailed-menu-list-mypage">
                        <div class="navbar-each-menu-item-mypage"><a th:href="@{/movie/popular}">Movie likes</a></div>
                        <div class="navbar-each-menu-item-mypage"><a th:href="@{/movie/now_playing}">Tv show likes</a></div>
                        <div class="navbar-each-menu-item-mypage"><a th:href="@{/movie/top_rated}">Actor likes</a></div>
                       
                    </div>
                </div>
            </div>     
                <div class="navbar-detailed-menu-section-container-mypage">
                <div class="navbar-detailed-menu-title-mypage">
                    <div>
                        <span><i class="fa-solid fa-right-from-bracket"></i></span>
                        
                    </div>
                </div>
                <div class="navbar-detailed-menu-items-mypage">
                    <div class="navbar-detailed-menu-list-mypage">
                        <div class="navbar-each-menu-item-mypage"><a th:href="@{/logout}">Logout</a></div>

                       
                    </div>
                </div>
            </div>                             
        </div>
        </th:block>
              
    </nav>
    
</body>
</html>