<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEAM FOURMEN FOOTER LAYOUT</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=oplfecjomd"></script>
</head>
<body>
<footer class="custom-1k0sgc4 ee62gow15" id="footer-container" th:fragment="footer-bar">
  


   <div style="display: flex; justify-content: space-between;">
    <div>
      <ul class="custom-1534gm5 ee62gow3">
        <li class="custom-rvvjri ee62gow4">포맨피디아 | 서비스 이용 약관 |</li>
        <li class="custom-mpotb2 ee62gow4"> 개인정보 처리 방침 |</li>
        <li class="custom-mpotb2 ee62gow4"> 포맨 서비스 이용 약관 |</li>
        <li class="custom-rvvjri ee62gow4">고객센터 |</li>
        <li class="custom-rvvjri ee62gow4">채용정보 |</li>
    </ul>
        <ul class="custom-1vwop6a ee62gow14">
            <li class="custom-12op3ba ee62gow13">
                <span class="custom-gvsr96 ee62gow11">고객센터(이용 및 결제 문의)</span>
                <span class="custom-rfl3pr ee62gow12">010-8355-9770 (유료)</span>
            </li>
            <li class="custom-12op3ba ee62gow13">
                <span class="custom-gvsr96 ee62gow11"> 기업용 서비스 문의</span>
                <span class="custom-rfl3pr ee62gow12">giho5279@naver.com</span>
            </li>
            <li class="custom-12op3ba ee62gow13">
                <span class="custom-gvsr96 ee62gow11">제휴 및 대외 협력</span>
                <span class="custom-rfl3pr ee62gow12">https://www.themoviedb.org</span>
            </li>
        </ul>
        <ul class="custom-hb2ylq ee62gow8">
            <li class="custom-1fa8fhr ee62gow7">주식회사 포맨</li>
            <li class="custom-1fa8fhr ee62gow7">대표 포맨</li>
            <li class="custom-1fa8fhr ee62gow7">서울특별시 강남구 테헤란로 124 4층</li>
        </ul>  
    </div>
        
    <div id="map" style="width: 35%; height: 250px;"></div>
</div>
   
    <div class="custom-1fsra2c ee62gow2">
        <a href="https://fb.com/watchaKR" rel="noreferrer noopener"></a>
        <a></a>  <!-- -->Copyright © <!-- -->2024<!-- --> by <em>Fourmen, Inc.</em> <!-- -->All rights reserved.
    </div>
    
</footer>

</body>
</html>