@charset "UTF-8";

@charset "UTF-8";

.board-edit-form-container {
    width: 85%;
    margin: 1rem auto;
}

.board-edit-label {
    margin-top: 1rem;
}

/* ckeditor관련 */
.ck-editor__editable_inline {
    /* min-height: 400px;
    max-height: 400px; */
    height: 60vh;
    color: black;
}

.ck-content .image.image_resized {
	display: block;
	box-sizing: border-box;
}

.ck-content .image.image_resized img {
	width: 100%;
}

.ck-content .image.image_resized > figcaption {
	display: block;
}

/* 버튼 관련 */
.div-btn-board-form {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;    
}

.btn-board-edit-cancel {
    padding: 0.8rem 1rem;
    background-color: transparent;
    border: 1px solid #ecece7;
    color: inherit;
    font-weight: 700;
    border-radius: 8px;
}

.btn-board-edit-cancel:hover {
    background-color: #8f8f8c;
    color: black;
}

.btn-board-edit{
    padding: 0.8rem 1rem;
    background-color: #007200;
    font-weight: 700;
    color: inherit;
    border: none;
    border-radius: 8px;
}

.btn-board-edit:hover {
    background-color: #38b000;
    color: black;
}