<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>FREEBOARD</title>
	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
	 integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/5b5cfeea7f.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=oplfecjomd"></script> 
    <link th:href="@{/css/theme.css}" rel="stylesheet">
    <link th:href="@{/css/navbar.css}" rel="stylesheet">
    <link th:href="@{/css/board/board-edit.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
    <script th:src="@{/js/ckeditor/build/ckeditor.js}"></script>
</head>
<body>
	
	<nav th:replace="~{layout/ExampleLayout :: navigation-bar}"></nav>
	<h2 class="boardtitle">게시글 수정</h2>
    <section class="board-edit-form-container">
        <form method="post" class="form-board-edit" th:action="@{/{category}/board/do-edit (category=${category})}">
            <label class="board-edit-label">제목</label>
            <input class="form-control" name="title" placeholder="제목을 작성해주세요." th:value="${post.title}">
            <label class="board-create-label">내용</label>
            <textarea id="editor" name="content" th:value="${post.content}"></textarea>
            <div class="div-btn-board-form">
                <button type="button" class="btn-board-edit-cancel">취소</button>
                <button type="button" class="btn-board-edit">수정</button>                
            </div>
            <input class="d-none" name="postId" th:value="${post.postId}">
            <input class="d-none" name="email" th:value="${member.email}">
            <input class="d-none" name="category" th:value="${category}">
        </form>
    </section>
    <footer th:replace="~{/layout/FooterLayout :: footer-bar}"></footer>    

    <script th:src="@{/js/footer.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
	 integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
    <script th:src="@{/js/navbar.js}"></script>
    <script th:src="@{/js/board/board-edit.js}"></script>
	
</body>
</html>