<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="|${#strings.toUpperCase(category)} 게시판|"></title>
	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
	 integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/5b5cfeea7f.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=oplfecjomd"></script> 
	<link th:href="@{/css/theme.css}" rel="stylesheet">
    <link th:href="@{/css/navbar.css}" rel="stylesheet">
    <link th:href="@{/css/board/board-list.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
</head>
<body>
	
	<nav th:replace="~{layout/ExampleLayout :: navigation-bar}"></nav>
	
    <main class="board-main-container">
        <h1 class="board-title" th:text="|${#strings.toUpperCase(category)} BOARD ${isSearch != null ? isSearch : ''}|">게시판</h1>
        <table class="table-board-list">
            <!--
            <thead class="thead-board-list-title">                
                <th th:if="${category == 'popular'}" class="th-board-post-category"></th>
                <th class="th-board-title">제목</th>
                <th class="th-board-author">작성자</th>
                <th class="th-board-created-time">작성/수정 시간</th>
                <th class="th-board-views">조회수</th>
                <th class="th-board-likes">좋아요</th>
            </thead>
            -->
            <tbody>
                <tr class="table-row-each-post" th:each= "postDto : ${postDtoList}">
                    <td th:if="${category == 'popular'}" class="td-board-each-post-category">
                        <a th:href="@{/{postCategory}/board (postCategory=${postDto.category})}" th:text="${postDto.category}"></a>
                    </td>
                    <td class="td-board-title board-list-text-control">
                        <a th:href="@{/{category}/board/details (category=${postDto.category}, id=${postDto.postId}, page=${pagingDto.page})}" th:text="${postDto.title}"></a>
                        <span th:text="|[${postDto.numOfComments}]|" class="board-list-post-num-comments"></span>
                    </td>
                    <td class="td-board-author boarder-content-text-center board-list-text-control" th:text="${postDto.member.nickname}"></td>
                    <!-- 시간관련 하루이내 작성된 글이면 시간 또는 분 경과시간으로 보여주기 -->
                    <td th:if="${postDto.timeDifferenceInMinute != null && postDto.timeDifferenceInMinute lt 60}"
                        th:text="|${postDto.timeDifferenceInMinute}분 전|" class="td-board-created-time boarder-content-text-center board-list-text-control">
                    <td th:if="${postDto.timeDifferenceInMinute != null && postDto.timeDifferenceInMinute >= 60}"
                        th:text="|${postDto.timeDifferenceInMinute / 60}시간 전|"
                        class="td-board-created-time boarder-content-text-center board-list-text-control">
                    <td th:if="${postDto.timeDifferenceInMinute == null}"
                        th:text="${#temporals.format(postDto.createdTime, 'yyyy-MM-dd')}"
                        class="td-board-created-time boarder-content-text-center board-list-text-control board-list-text-control">                    
                    <td class="td-board-views boarder-content-text-center board-list-text-control">
                        <i class="fa-solid fa-eye"></i>
                        <span th:text="${postDto.views}"></span>
                    </td>
                    <td class="td-board-likes boarder-content-text-center board-list-text-control">
                        <i class="fa-solid fa-heart"></i>
                        <span th:text="${postDto.likes}"></span>
                    </td>
                </tr>
                <tr th:if="${totElements != null && totElements == 0}">
                    검색 결과가 없습니다.
                </tr>
            </tbody>
        </table>
        <div class="div-board-create-button">
            <button class="btn-board-create" sec:authorize="isAuthenticated()" th:if="${category != 'popular'}">글 작성</button>
        </div>
    </main>
    
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:if="${pagingDto.page gt 1}">
                <a class="page-link" th:href="@{/{category}/board (category=${category}, page = 0)}">
                    <span aria-hidden="true">&lt;&lt;</span>
                </a>
            </li>
            <li class="page-item" th:if="${pagingDto.page gt 1}">
                <a class="page-link" th:href="@{/{category}/board (category=${category}, page = ${pagingDto.page - 2})}">
                    <span>&lt;</span>
                </a>
            </li>
            <li th:each="page : ${#numbers.sequence(pagingDto.startPage, pagingDto.endPage)}" class="page-item" th:classappend="${page} == ${pagingDto.page} ? 'active'">
                <a class="page-link" th:href="@{/{category}/board (category=${category}, page = ${page - 1})}" th:text="${page}"></a>
            </li>
            <li class="page-item" th:if="${pagingDto.page lt pagingDto.total_pages}">
                    <a class="page-link" th:href="@{/{category}/board (category=${category}, page=${pagingDto.page})}">
                        <span>&gt;</span>
                    </a>
            </li>
            <li class="page-item" th:if="${pagingDto.page lt pagingDto.total_pages}">
                <a class="page-link" th:href="@{/{category}/board (category=${category}, page=${pagingDto.total_pages - 1})}">
                    <span aria-hidden="true">&gt;&gt;</span>
                </a>
            </li>
        </ul>
    </nav>
    
    <section class="section-board-search">
        <form class="form-board-search" th:action="@{/{category}/board/search(category=${category})}" method="get">
            <select class="search-category" name="searchCategory">
                <option value="title" th:selected="${#strings.equals(searchCategory, 'title')}">제목</option>
                <option value="content" th:selected="${#strings.equals(searchCategory, 'content')}">내용</option>
                <option value="titleContent" th:selected="${#strings.equals(searchCategory, 'titleContent')}">제목 + 내용</option>
                <option value="author" th:selected="${#strings.equals(searchCategory, 'author')}">글쓴이</option>
            </select>
            <div class="div-board-input-btn-container">
                <div class="div-board-content-search">
                    <input type="text" class="input-board-content-search" maxlength="20" name="searchContent" th:value="${keyword}" required>
                </div>
                <div class="div-board-search-btn">
                    <button type="input" class="btn-board-search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </div>
        </form>
    </section>
    <footer th:replace="~{layout/FooterLayout :: footer-bar}"></footer>

    <script th:src="@{/js/footer.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
	 integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script th:src="@{/js/navbar.js}"></script>
    <script th:src="@{/js/board/board-list.js}"></script>
</body>
</html>