@charset "UTF-8";
@import "reset.css";
/* person-lists.html 에 포함 */

/* 페이지 배경색 설정 */
body {
    /*background-color: inherit;*/
}

.container-fluid {
    display: flex;
    justify-content: center;
}

.inner_block {
    margin: 50px 12.5rem;
}

.inner_block .inner_content .content {
    padding: 0 100px;
}

.fifty_square {
    display: flex;
    align-items: stretch;
    margin-bottom: 5px;
    margin-right: 3px;
    margin-left: 3px;
}

/* 상단 제목(인기 인물) 스타일링 */
.inner_block .inner_content .content h2 {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 2.5rem;
    /*color: white;*/
}

/* 4(열)x5(행) 그리드 생성 */
.results_profile_card {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4개의 열 생성 */
    grid-template-rows: repeat(5, 1fr); /* 5개의 행 생성 */
    gap: 16px; /* 격자 간격 설정 */
    width: 100%; /* 컨테이너의 너비를 100%로 설정 */
    margin: auto; /* 컨테이너를 중앙 정렬 */
    align-items: start; /* 그리드 아이템의 높이가 다를 경우를 대비 */
}

/* 카드 스타일링 */
.item_profile_card {
    background: #bfbfbf;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1); /* 그림자 효과 */
    align-items: stretch; /* 모든 그리드 아이템을 컨테이너 높이에 맞춤 */
    min-height: 200px; /* 최소 높이 설정 */
    overflow: hidden; /* 넘치는 내용 숨기기 */
    text-overflow: ellipsis; /* 넘칠 때 ...로 표시 */
    /*overflow: auto; !* 내용이 넘치면 스크로바 표시 *!*/
}

/* 카드 내 인물 이미지 스타일링 */
.item_profile_card img {
    width: 100%; /* 이미지 너비를 컨테이너에 맞춤 */
    height: auto; /* 높이를 자동으로 설정하여 비율 유지 */
    object-fit: cover; /* 이미지가 컨테이너를 꽉 채우도록 설정 */
}
/* 카드 내 디폴트 이미지 스타일링 */
.default_person_img {
    width: 470px; /* 너비를 210px로 고정 */
    height: 470px; /* 높이를 210px로 고정 */
    object-fit: cover; /* 이미지 비율을 유지하면서 컨테이너에 맞춤 */
}

/* 카드 내 글(인물 이름) 스타일링 */
.meta .name {
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
    width: 200px;
    white-space: nowrap; /* 텍스트를 한 줄에 표시 */
    overflow: hidden; /* 넘치는 내용 숨기기 */
    text-overflow: ellipsis; /* 넘칠 때 ...로 표시 */
}
.meta p a {
    text-decoration-line: none;
    color: black;
}

/* 페이지네이션 스타일링 */
.pagination .page-link {
    color: #6c757d; /* 페이지 번호 텍스트 색상을 어두운 회색으로 설정 */
    background-color: #e9ecef; /* 배경 색상을 회색으로 설정 */
    border-color: #dee2e6; /* 테두리 색상을 회색 계열로 설정 */
}
.pagination .page-link:hover {
    color: #495057; /* 호버 시 텍스트 색상을 더 어두운 회색으로 변경 */
    background-color: #dee2e6; /* 호버 시 배경 색상을 더 진한 회색으로 변경 */
    border-color: #ced4da; /* 호버 시 테두리 색상을 조정 */
}
.pagination .page-item.active .page-link {
    color: #fff; /* 활성 페이지 번호 텍스트 색상을 흰색으로 설정 */
    background-color: #6c757d; /* 활성 페이지 배경 색상을 어두운 회색으로 설정 */
    border-color: #6c757d; /* 활성 페이지 테두리 색상을 어두운 회색으로 설정 */
}

/* 반응형 스타일링 */
/* 화면 크기가 1024px 미만일 때 */
@media (max-width: 1024px) {
    .results_profile_card {
        grid-template-columns: repeat(3, 1fr); /* 3개의 열로 변경 */
        grid-template-rows: repeat(5, 1fr); /* 필요에 따라 행 수 조정 */
    }
    .item_profile_card {
        width: 100%; /* 열의 너비를 조정하여 카드가 컨테이너를 꽉 채우도록 함 */
    }
}

/* 화면 크기가 768px 미만일 때 */
@media (max-width: 768px) {
    .results_profile_card {
        grid-template-columns: repeat(2, 1fr); /* 2개의 열로 변경 */
        grid-template-rows: repeat(5, 1fr); /* 필요에 따라 행 수 조정 */
    }
}

/* 화면 크기가 480px 미만일 때 */
@media (max-width: 480px) {
    .results_profile_card {
        grid-template-columns: 1fr; /* 1개의 열로 변경 */
        grid-template-rows: repeat(5, 1fr); /* 필요에 따라 행 수 조정 */
    }
}
