<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
	 integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/937852f454.js" crossorigin="anonymous"></script>
    <link th:href="@{/css/theme.css}" rel="stylesheet">
    <link th:href="@{/css/navbar.css}" rel="stylesheet">
    <link th:href="@{/css/mypage/details.css}" rel="stylesheet">
    <link th:href="@{/css/mypage/details-playlist-items.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
	
</head>
<body>
    <header>
        <nav th:replace="~{layout/ExampleLayout :: navigation-bar}"></nav>
    </header>    
    <section th:replace="~{layout/MyPageBasic :: sectionFragment}"></section>
	
    <div class="title-private-btn-container">
        <h3 class="h-playlist-name" th:text="${playlist.playlistName}"></h3>
        <div th:if="${member != null && member.memberId == myPageUser.memberId}">
            <button th:if="${playlist.isPrivate == 'N'}" class="btn btn-secondary btn-set-playlist-private">
                <i class="fa-solid fa-lock"></i>
                <span>나만 보기</span>
            </button>
            <button th:unless="${playlist.isPrivate == 'N'}" class="btn btn-outline-primary btn-set-playlist-public">
                <i class="fa-solid fa-lock-open"></i>
                <span>공개</span>
            </button>
        </div>
    </div>
    <div class="playlist-items-container">
        <ul th:if="${playlistItemDtoList != null && !#lists.isEmpty(playlistItemDtoList)}" class="ul-playlist-items">
            <li class="li-playlist-item" th:each="eachPlaylistItem : ${playlistItemDtoList}" draggable="true"
                 th:playlistItemId="${eachPlaylistItem.playlistItemId}" th:category="${eachPlaylistItem.category}" th:tmdbId="${eachPlaylistItem.workDetails.id}">
                <div class="each-playlist-container">
                    <div class="each-playlist-item-image-container">
                        <a th:href="@{/{category}/details/{tmdbId} (category=${eachPlaylistItem.category}, tmdbId=${eachPlaylistItem.workDetails.id})}">
                            <img class="img-each-playlist" th:src="@{https://image.tmdb.org/t/p/w154/{posterPath} (posterPath=${eachPlaylistItem.workDetails.posterPath})}">
                        </a>
                    </div>
                    <div class="each-playlist-item-description-container">
                        <div></div>
                        <div class="each-playlist-item-title-container">
                            <div>
                                <a class="a-each-playlist-title" th:text="${eachPlaylistItem.workDetails.title}"
                                     th:href="@{/{category}/details/{tmdbId} (category=${eachPlaylistItem.category}, tmdbId=${eachPlaylistItem.workDetails.id})}">
                                </a>
                            </div>
                            <div>
                                <button class="btn-switch-position">
                                    <i class="fa-solid fa-sort"></i>
                                </button>
                            </div>
                        </div>
                        <div class="each-playlist-item-btn-delete-container">
                            <button class="btn btn-danger btn-delete-playlist-item"
                                th:if="${member != null && playlist.member.email == member.email}">삭제</button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div th:if="${playlistItemDtoList == null || #lists.isEmpty(playlistItemDtoList)}">
            재생목록에 추가된 영화/Tv프로그램이 없습니다.
        </div>
    </div>
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
	 integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
	<script th:src="@{/js/navbar.js}"></script>
    <script th:src="@{/js/Mypage/mypage-feature.js}"></script>
    <script th:src="@{/js/Mypage/details-playlist-items.js}"></script>
    
</body>
</html>