<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/7542e28415.js" crossorigin="anonymous"></script>
    <title>인물 상세정보</title>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous">
    <!-- css 파일 연결 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" th:href="@{/css/person/person_details.css}">
</head>
<body>
    <div>
        <header>
            <p>헤더</p>
        </header>
        <main>
            <section>
                <div>
                    <p>TODO: 개요, 미디어, 팬덤, 공유 등 메뉴 목록 만들기</p>
                </div>
                <div>
                    <div>
                        <div class="content_wrapper">
                            <div>

                                <!-- A: 프로필 이미지: 없으면 디폴트 이미지로 대체 -->
                                <div class="a">
                                    <section>
                                        <div class="content_profile_img">
                                            <div>
                                                <img class="profile_img"
                                                     th:if="${detailsPerson.profilePath ne null and detailsPerson.profilePath ne 'null' and detailsPerson.profilePath ne ''}"
                                                     th:src="@{'https://media.themoviedb.org/t/p/w300_and_h450_bestv2' + ${detailsPerson.profilePath}}"
                                                     alt="profile_img">
                                                <img class="profile_img"
                                                     th:unless="${detailsPerson.profilePath ne null and detailsPerson.profilePath ne 'null' and detailsPerson.profilePath ne ''}"
                                                     th:src="@{/image/person_default_image_01.png}" width="300" height="450"
                                                     alt="profile_img">
                                            </div>
                                        </div>
                                    </section>
                                </div>

                                <!-- B: 인물 정보 -->
                                <div class="b">
                                    <section>
                                        <div th:each="externalIDs : ${externalIDs}" class="social_links">
                                            <div>
                                                <span>
                                                    <a
                                                       th:if="${externalIDs.facebookId != null}"
                                                       th:href="'https://www.facebook.com/' + ${externalIDs.getFacebookId()}">
                                                        <i class="fa-brands fa-facebook"></i>
                                                    </a>

                                                    <a
                                                       th:if="${externalIDs.twitterId != null}"
                                                       th:href="'https://twitter.com/' + ${externalIDs.getTwitterId()}">
                                                        <i class="fa-brands fa-twitter"></i>
                                                    </a>

                                                    <a
                                                       th:if="${externalIDs.instagramId != null}"
                                                       th:href="'https://www.instagram.com/' + ${externalIDs.getInstagramId()}">
                                                        <i class="fa-brands fa-instagram"></i>
                                                    </a>

                                                    <a
                                                       th:if="${externalIDs.tiktokId != null}"
                                                       th:href="'https://www.tiktok.com/@' + ${externalIDs.getTiktokId()}">
                                                        <i class="fa-brands fa-tiktok"></i>
                                                    </a>

                                                    <a
                                                       th:if="${externalIDs.youtubeId != null}"
                                                       th:href="'https://www.youtube.com/' + ${externalIDs.getYoutubeId()}">
                                                        <i class="fa-brands fa-youtube"></i>
                                                    </a>
                                                    <!-- TODO: 인물의 홈페이지는 어떻게 할까? -->
                                                </span>
                                            </div>
                                        </div>
                                        <h3>
                                            인물 정보
                                        </h3>
                                        <section class="person_info">
                                            <p>
                                                <strong>
                                                    <bdi>유명 분야</bdi>
                                                </strong>
                                            </p>
                                            <p th:switch="${detailsPerson.getKnownForDepartment()}">
                                                <span th:case="'Acting'">연기</span>
                                                <span th:case="'Art'">미술</span>
                                                <span th:case="'Camera'">카메라</span>
                                                <span th:case="'Costume & Make-Up'">의상 & 분장</span>
                                                <span th:case="'Crew'">제작진</span>
                                                <span th:case="'Directing'">연출</span>
                                                <span th:case="'Editing'">편집</span>
                                                <span th:case="'Lighting'">조명</span>
                                                <span th:case="'Sound'">음향</span>
                                                <span th:case="'Visual Effects'">시각 효과</span>
                                                <span th:case="'Production'">각본</span>
                                                <span th:case="'Writing'">창작자</span>
                                            </p>

                                            <p>
                                                <strong>
                                                    <bdi>참여 작품 수</bdi>
                                                </strong>
                                            </p>
                                            <p th:text="${uniqueKnownCreditsNameORTitleList.size()}"></p>

                                            <p>
                                                <strong>
                                                    <bdi>성별</bdi>
                                                </strong>
                                            </p>
                                            <p th:text="${detailsPerson.getGender() == 1 ? '여성' : (detailsPerson.getGender() == 2 ? '남성' : '-')}" />

                                            <p>
                                                <strong>
                                                    <bdi>생일</bdi>
                                                </strong>
                                            </p>
                                            <p th:text="${detailsPerson.getBirthday() != null ? detailsPerson.getBirthday() : '-'}"></p>

                                            <p th:if="${detailsPerson.getDeathday() != null}">
                                                <strong>
                                                    <bdi>사망일</bdi>
                                                </strong>
                                            </p>
                                            <p th:if="${detailsPerson.getDeathday() != null}" th:text="${detailsPerson.getDeathday()}"></p>

                                            <p>
                                                <strong>
                                                    <bdi>출생지</bdi>
                                                </strong>
                                            </p>
                                            <p th:if="${detailsPerson.getPlaceOfBirth() != null}"
                                               th:text="${detailsPerson.getPlaceOfBirth()}"></p>
                                            <p th:if="${detailsPerson.getPlaceOfBirth() == null}">-</p>
                                        </section>
                                    </section>
                                </div>
                            </div>

                            <!-- C: 인물의 정보를 자세히 출력하는 메인 부분 -->
                            <div class="c">
                                <div>
                                    <section>
                                        <div>
                                            <p th:text="${detailsPerson.getName()}"></p>
                                        </div>
                                    </section>
                                    <section>
                                        <h3>
                                            약력
                                        </h3>
                                        <div>
                                            <!-- TODO: 약력 부분은 ko 데이터가 없으면 en 데이터로 받아오기. -->
                                            <p th:text="${detailsPerson.getBiography()}"></p>
                                            <p th:if="${detailsPerson.getBiography().isEmpty()}" th:text="${detailsPerson.getName()} + '의 약력 란이 비어있습니다.'"></p>
                                        </div>
                                    </section>
                                    <section>
                                        <h3>유명 분야</h3>
                                        <!-- TODO: 반복문과 조건문을 사용해서 유명 분야 상세 정보 출력 -->
                                        <div th:if="${detailsPerson.getKnownForDepartment().equals('Acting')}">
                                            <span th:each="uniqueCast, iterStat : ${uniqueCastList}" th:if="${iterStat.index lt 8}">

                                                <div class="media-item">
                                                    <a
                                                       th:href="@{/{mediaType}/{id}(mediaType=${uniqueCast.mediaType}, id=${uniqueCast.id})}">
                                                        <img class="poster_img"
                                                             th:if="${uniqueCast.posterPath ne null and uniqueCast.posterPath ne 'null' and uniqueCast.posterPath ne ''}"
                                                             th:src="'https://media.themoviedb.org/t/p/w130_and_h195_bestv2' + ${uniqueCast.posterPath}"
                                                             alt="poster_img">
                                                        <img class="poster_img"
                                                             th:unless="${uniqueCast.posterPath ne null and uniqueCast.posterPath ne 'null' and uniqueCast.posterPath ne ''}"
                                                             th:src="@{/image/default-w600.png}" width="130" height="195"
                                                             alt="poster_img">
                                                        <div th:if="${uniqueCast.mediaType eq 'tv'}" class="name" th:text="${uniqueCast.name}"></div>
                                                        <div th:if="${uniqueCast.mediaType eq 'movie'}" class="title" th:text="${uniqueCast.title}"></div>
                                                    </a>
                                                </div>

                                            </span>
                                        </div>
                                        <div th:if="${!detailsPerson.getKnownForDepartment().equals('Acting')}">
                                            <span th:each="uniqueCrew, iterStat : ${uniqueCrewList}" th:if="${iterStat.index lt 8}">

                                                <div class="media-item">
                                                    <a th:if="${uniqueCrew.mediaType eq 'tv'} or ${uniqueCrew.mediaType eq 'movie'}"
                                                       th:href="@{/${uniqueCrew.mediaType}/{id}(id=${uniqueCrew.id})}">
                                                        <img class="poster_img"
                                                             th:if="${uniqueCrew.posterPath ne null and uniqueCrew.posterPath ne 'null' and uniqueCrew.posterPath ne ''}"
                                                             th:src="'https://media.themoviedb.org/t/p/w130_and_h195_bestv2' + ${uniqueCrew.posterPath}"
                                                             alt="poster_img">
                                                        <img class="poster_img"
                                                             th:unless="${uniqueCrew.posterPath ne null and uniqueCrew.posterPath ne 'null' and uniqueCrew.posterPath ne ''}"
                                                             th:src="@{/image/default-w600.png}" width="130" height="195"
                                                             alt="poster_img">
                                                        <div th:if="${uniqueCrew.mediaType eq 'tv'}" class="name" th:text="${uniqueCrew.name}"></div>
                                                        <div th:if="${uniqueCrew.mediaType eq 'movie'}" class="title" th:text="${uniqueCrew.title}"></div>
                                                    </a>
                                                </div>

                                            </span>
                                        </div>
                                    </section>
                                    <section>
                                        <!-- TODO: 문제의 부분... 어떻게 인물 약력의 상세 정보들을 올바르게 출력할 수 있을까? -->
                                        <div th:if="${detailsPerson.getKnownForDepartment().equals('Acting')}">
                                            <h3 th:switch="${detailsPerson.getKnownForDepartment()}">
                                                <span th:case="'Acting'">연기</span>
                                                <span th:case="'Art'">미술</span>
                                                <span th:case="'Camera'">카메라</span>
                                                <span th:case="'Costume & Make-Up'">의상 & 분장</span>
                                                <span th:case="'Crew'">제작진</span>
                                                <span th:case="'Directing'">연출</span>
                                                <span th:case="'Editing'">편집</span>
                                                <span th:case="'Lighting'">조명</span>
                                                <span th:case="'Sound'">음향</span>
                                                <span th:case="'Visual Effects'">시각 효과</span>
                                                <span th:case="'Production'">각본</span>
                                                <span th:case="'Writing'">창작자</span>
                                            </h3>

                                            <table>

                                                <tbody>



                                                </tbody>

                                            </table>

                                            <table>

                                                <tbody>
                                                    <tr th:each="combinedCastList: ${combinedCreditsCastList}" th:object="${combinedCastList}">
                                                        <td>
                                                            <table>
                                                                <tbody>

                                                                    <tr>
                                                                        <td>
                                                                            <span th:if="${combinedCastList.year == null}">-</span>
                                                                            <span th:unless="${combinedCastList.year == null}" th:text="${combinedCastList.year}">연도</span>
                                                                        </td>
                                                                        <td>
                                                                            <a th:href="@{/movie/details(id=${combinedCastList.id})}" th:if="${combinedCastList.title != null}">
                                                                                <span class="title" th:text="${combinedCastList.title}"></span>
                                                                            </a>
                                                                            <a th:href="@{/tv/{id}(id=${combinedCastList.id})}" th:if="${combinedCastList.name != null}">
                                                                                <span class="name" th:text="${combinedCastList.name}"></span>
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="2">
                                                                            <span th:if="${combinedCastList.mediaType.equals('tv')}">
                                                                                <span th:if="${combinedCastList.episodeCount != null}">
                                                                                    <a th:href="@{/tv/{id}(id=${combinedCastList.id})}"
                                                                                       th:text="'(' + ${combinedCastList.episodeCount} + ' 화' + ')'"></a>
                                                                                </span>
                                                                                <span th:if="${combinedCastList.character != null}"
                                                                                      th:text="${combinedCastList.character} + ' 역'"></span>
                                                                            </span>
                                                                            <span th:if="${combinedCastList.mediaType.equals('movie') && !combinedCastList.character.isEmpty()}"
                                                                                    th:text="${combinedCastList.character} + ' 역'"></span>
                                                                        </td>
                                                                    </tr>

                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>

                                        <div th:if="${combinedCreditsCrewList != null}">
                                            <h3>
                                                <span>제작 및 지원</span>
                                            </h3>
                                            <table>

                                                <tbody>
                                                <tr th:each="combinedCrewList: ${combinedCreditsCrewList}" th:object="${combinedCrewList}">
                                                    <td>
                                                        <table>
                                                            <tbody>

                                                            <tr>
                                                                <td>
                                                                    <span th:if="${combinedCrewList.year == null}">-</span>
                                                                    <span th:unless="${combinedCrewList.year == null}" th:text="${combinedCrewList.year}">연도</span>
                                                                </td>
                                                                <td>
                                                                    <a th:href="@{/movie/details(id=${combinedCrewList.id})}" th:if="${combinedCrewList.title != null}">
                                                                        <span class="title" th:text="${combinedCrewList.title}"></span>
                                                                    </a>
                                                                    <a th:href="@{/tv/{id}(id=${combinedCrewList.id})}" th:if="${combinedCrewList.name != null}">
                                                                        <span class="name" th:text="${combinedCrewList.name}"></span>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2">
                                                                            <span th:if="${combinedCrewList.mediaType.equals('tv')}">
                                                                                <span th:if="${combinedCrewList.episodeCount != null}">
                                                                                    <a th:href="@{/tv/{id}(id=${combinedCrewList.id})}"
                                                                                       th:text="'(' + ${combinedCrewList.episodeCount} + ' 화' + ')'"></a>
                                                                                </span>
                                                                                <span th:if="${combinedCrewList.job != null}"
                                                                                      th:text="${combinedCrewList.job}"></span>
                                                                            </span>
                                                                    <span th:if="${combinedCrewList.mediaType.equals('movie') && !combinedCrewList.job.isEmpty()}"
                                                                          th:text="${combinedCrewList.job}"></span>
                                                                </td>
                                                            </tr>

                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                </tbody>

                                            </table>
                                        </div>

                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>

    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous">
    </script>
</body>
</html>